* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://cdn.discordapp.com/attachments/761546561938784260/765549206365798410/natural-default-pattern.png");

}

.container_bg {
  height: 408px;
  width: 80%;
  border: 10px solid white;
  margin: auto;
  margin-top: 30px;
  background-image: url("https://cdn.discordapp.com/attachments/761546561938784260/765549233691557938/natural-default-header.jpg");
  background-size: cover;
  text-align: center;
}

/* 100:=360:45 */
}

h1 {
  color: white;
}

nav {
  height: 50px;
  width: 80%;
  margin: auto;
  background-color: #504741;
  text-align: center;
}

 main {
  height: 500px;
  width: 80%;
  margin: auto;
}

.box {
  height: 100%;
  width: 20%;
  padding: 15px;
  border-radius: 5px;
}

.content {
  background: white;
  border-radius: 5px;
  padding: 10px;
}

#width {
  width: 60%
}

.float_left {
  float: left;
}

.float_center {
  float: left;
}

.float_right {
  float: left;
}

.box_R {
  width: 100%;
  height: 100%;
}

ul > li {
  display: inline-block;
  list-style-type: none;
  padding: 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat',Arial,Helvetica,sans-serif;
  cursor: pointer;
}
